# Topic Modeling(Latent Dirichlet Allocation)

## Data

 Articles from NPR (National Public Radio), obtained from their website [www.npr.org](http://www.npr.org)

In [1]:
import pandas as pd

In [2]:
npr = pd.read_csv('npr.csv')

In [3]:
npr.head()

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...

Topics to be found by LDA

In [7]:
type(npr['Article'])

pandas.core.series.Series

In [8]:
npr['Article']

0        In the Washington of 2016, even when the polic...
1          Donald Trump has used Twitter  —   his prefe...
2          Donald Trump is unabashedly praising Russian...
3        Updated at 2:50 p. m. ET, Russian President Vl...
4        From photography, illustration and video, to d...
5        I did not want to join yoga class. I hated tho...
6        With a   who has publicly supported the debunk...
7        I was standing by the airport exit, debating w...
8        If movies were trying to be more realistic, pe...
9        Eighteen years ago, on New Year’s Eve, David F...
10       For years now, some of the best, wildest, most...
11       For years now, some of the best, wildest, most...
12       The Colorado River is like a giant bank accoun...
13       For the last installment of NPR’s holiday reci...
14       Being overweight can raise your blood pressure...
15       Who’s the YouTube star of 2016? Adele singing ...
16       Here’s a quick roundup of some of the   you ma...
17       Ben Johnston doesn’t follow the rules of music...
18       David Bowie, Prince and George Michael are all...
19       In November, the typically straitlaced Office ...
20       This is the time of year when everybody is mak...
21       Terrorist attacks, hurricanes, a divisive U. S...
22       We all experience stress at work, no matter th...
23       When John Fahey recorded The New Possibility i...
24       This year was one of   hacks, exploding smartp...
25       From West Virginia to Wyoming, coal country ov...
26       Updated Jan. 1 at 9:56 a. m. ET, At least 39 p...
27       On the morning of Jan. 1, Los Angeles resident...
28       In September, reproductive endocrinologist Joh...
29       In an effort to take advantage of the intimate...
                               ...
11962    Updated at 6:15 p. m. The White House has anno...
11963    The actress Debbie Reynolds’ death just one da...
11964    Here’s a timely reminder for all you   reveler...
11965    Every year in late November, the New Mexican v...
11966    Time to get together the transcripts and the t...
11967    Hollywood is in the process of closing out a  ...
11968    Dealing with a flood of   pardon requests amou...
11969    Rashaan Salaam, the former college football st...
11970    On the top of Hawaii’s Mauna Kea mountain Thur...
11971    A tiny pink peanut is not a white rhinoceros. ...
11972    In a disappointment to Alzheimer’s patients an...
11973    In my early 20s, smitten by the mythic underpi...
11974    It’s been a lively year for social media maven...
11975    This is not a review. It started out as one: I...
11976    On a summer’s day in December, a warehouse in ...
11977    Elections aren’t exactly cozy, even in the bes...
11978    Although her oldest child, Ben, is 10 years ol...
11979    When a political scandal explodes in France, t...
11980    The darkest moment for American police this ye...
11981    Russia was ordered to vacate two compounds it ...
11982    A North Carolina judge is temporarily blocking...
11983    China’s police are under fire this week as cit...
11984    Before the virus overwhelmed Puerto Rico, Zika...
11985    It seems everything today has a flavor wheel, ...
11986    In the final days of a year that has become kn...
11987    The number of law enforcement officers shot an...
11988      Trump is busy these days with victory tours,...
11989    It’s always interesting for the Goats and Soda...
11990    The election of Donald Trump was a surprise to...
11991    Voters in the English city of Sunderland did s...
Name: Article, Length: 11992, dtype: object

## Preprocessing

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
cv = CountVectorizer(max_df=0.95, min_df=2, stop_words='english')

In [6]:
dtm = cv.fit_transform(npr['Article'])

In [7]:
dtm

<11992x54777 sparse matrix of type '<class 'numpy.int64'>'
	with 3033388 stored elements in Compressed Sparse Row format>

## LDA

In [9]:
from sklearn.decomposition import LatentDirichletAllocation

In [10]:
LDA = LatentDirichletAllocation(n_components=7,random_state=42)

In [11]:
# This can take awhile, we're dealing with a large amount of documents!
LDA.fit(dtm)

LatentDirichletAllocation(n_components=7, random_state=42)

In [13]:
LDA.components_.shape

(7, 54777)

## Showing Stored Words

In [41]:
len(cv.get_feature_names())

54777

In [42]:
import random

In [43]:
for i in range(10):
    random_word_id = random.randint(0,54776)
    print(cv.get_feature_names()[random_word_id])

cred
fairly
occupational
temer
tamil
closest
condone
breathes
tendrils
pivot

In [44]:
for i in range(10):
    random_word_id = random.randint(0,54776)
    print(cv.get_feature_names()[random_word_id])

foremothers
mocoa
ellroy
liron
ally
discouraged
utterance
provo
videgaray
archivist

### Showing Top Words Per Topic

In [46]:
len(LDA.components_)

7

In [47]:
LDA.components_

array([[8.64332806e+00, 2.38014333e+03, 1.42900522e-01, ...,
        1.43006821e-01, 1.42902042e-01, 1.42861626e-01],
       [2.76191749e+01, 5.36394437e+02, 1.42857148e-01, ...,
        1.42861973e-01, 1.42857147e-01, 1.42906875e-01],
       [7.22783888e+00, 8.24033986e+02, 1.42857148e-01, ...,
        6.14236247e+00, 2.14061364e+00, 1.42923753e-01],
       ...,
       [3.11488651e+00, 3.50409655e+02, 1.42857147e-01, ...,
        1.42859912e-01, 1.42857146e-01, 1.42866614e-01],
       [4.61486388e+01, 5.14408600e+01, 3.14281373e+00, ...,
        1.43107628e-01, 1.43902481e-01, 2.14271779e+00],
       [4.93991422e-01, 4.18841042e+02, 1.42857151e-01, ...,
        1.42857146e-01, 1.43760101e-01, 1.42866201e-01]])

In [48]:
len(LDA.components_[0])

54777

In [49]:
single_topic = LDA.components_[0]

In [50]:
# Returns the indices that would sort this array.
single_topic.argsort()

array([ 2475, 18302, 35285, ..., 22673, 42561, 42993], dtype=int64)

In [51]:
# Word least representative of this topic
single_topic[18302]

0.14285714309286987

In [52]:
# Word most representative of this topic
single_topic[42993]

6247.245510521082

In [53]:
# Top 10 words for this topic:
single_topic.argsort()[-10:]

array([33390, 36310, 21228, 10425, 31464,  8149, 36283, 22673, 42561,
       42993], dtype=int64)

In [54]:
top_word_indices = single_topic.argsort()[-10:]

In [55]:
for index in top_word_indices:
    print(cv.get_feature_names()[index])

new
percent
government
company
million
care
people
health
said
says

In [56]:
for index,topic in enumerate(LDA.components_):
    print(f'THE TOP 15 WORDS FOR TOPIC #{index}')
    print([cv.get_feature_names()[i] for i in topic.argsort()[-15:]])
    print('\n')

THE TOP 15 WORDS FOR TOPIC #0
['companies', 'money', 'year', 'federal', '000', 'new', 'percent', 'government', 'company', 'million', 'care', 'people', 'health', 'said', 'says']


THE TOP 15 WORDS FOR TOPIC #1
['military', 'house', 'security', 'russia', 'government', 'npr', 'reports', 'says', 'news', 'people', 'told', 'police', 'president', 'trump', 'said']


THE TOP 15 WORDS FOR TOPIC #2
['way', 'world', 'family', 'home', 'day', 'time', 'water', 'city', 'new', 'years', 'food', 'just', 'people', 'like', 'says']


THE TOP 15 WORDS FOR TOPIC #3
['time', 'new', 'don', 'years', 'medical', 'disease', 'patients', 'just', 'children', 'study', 'like', 'women', 'health', 'people', 'says']


THE TOP 15 WORDS FOR TOPIC #4
['voters', 'vote', 'election', 'party', 'new', 'obama', 'court', 'republican', 'campaign', 'people', 'state', 'president', 'clinton', 'said', 'trump']


THE TOP 15 WORDS FOR TOPIC #5
['years', 'going', 've', 'life', 'don', 'new', 'way', 'music', 'really', 'time', 'know', 'think', 'people', 'just', 'like']


THE TOP 15 WORDS FOR TOPIC #6
['student', 'years', 'data', 'science', 'university', 'people', 'time', 'schools', 'just', 'education', 'new', 'like', 'students', 'school', 'says']

### Attaching Discovered Topic Labels to Original Articles

In [57]:
dtm

<11992x54777 sparse matrix of type '<class 'numpy.int64'>'
	with 3033388 stored elements in Compressed Sparse Row format>

In [58]:
dtm.shape

(11992, 54777)

In [59]:
len(npr)

11992

In [60]:
topic_results = LDA.transform(dtm)

In [61]:
topic_results.shape

(11992, 7)

In [62]:
topic_results[0]

array([1.61040465e-02, 6.83341493e-01, 2.25376318e-04, 2.25369288e-04,
       2.99652737e-01, 2.25479379e-04, 2.25497980e-04])

In [63]:
topic_results[0].round(2)

array([0.02, 0.68, 0.  , 0.  , 0.3 , 0.  , 0.  ])

In [64]:
topic_results[0].argmax()

1

The model indicates that the first article belongs to topic #1.

### Combining with Original Data

In [65]:
npr.head()

                                             Article  Topic
0  In the Washington of 2016, even when the polic...      1
1    Donald Trump has used Twitter  —   his prefe...      1
2    Donald Trump is unabashedly praising Russian...      1
3  Updated at 2:50 p. m. ET, Russian President Vl...      1
4  From photography, illustration and video, to d...      6

In [66]:
topic_results.argmax(axis=1)

array([1, 1, 1, ..., 3, 4, 0], dtype=int64)

In [67]:
npr['Topic'] = topic_results.argmax(axis=1)

In [68]:
npr.head(10)

                                             Article  Topic
0  In the Washington of 2016, even when the polic...      1
1    Donald Trump has used Twitter  —   his prefe...      1
2    Donald Trump is unabashedly praising Russian...      1
3  Updated at 2:50 p. m. ET, Russian President Vl...      1
4  From photography, illustration and video, to d...      2
5  I did not want to join yoga class. I hated tho...      3
6  With a   who has publicly supported the debunk...      3
7  I was standing by the airport exit, debating w...      2
8  If movies were trying to be more realistic, pe...      3
9  Eighteen years ago, on New Year’s Eve, David F...      2